.mani {
	display: flex;
	width: 950px;
	height: 350px;
	align-items: center;
	margin: 100px auto;
}

.left { 
	width: 240px;
	height: 420px;
	background-color: #CB9400;
	border-radius: 120px 48px 48px 120px;
}

.center {
	width: 360px;
	height: 336px;
	background-color: #CB9400;
}

.right {
	width: 240px;
	height: 420px;
	background-color: #CB9400;
	border-radius: 48px 120px 120px 48px;
}

.terminal {
	width: 30px;
	height: 10px;
	background-color: #555555;
}

